* {
  box-sizing: border-box;
}
#countdowntimer {
  position: absolute;
  background: rgb(193, 193, 221);
  width: 550px;
  height: 400px;
  padding-top: 15px;
  top: 40px;
  left: 218px;
  text-align: center;
  color: rgb(30, 91, 99);
  font-size: 200px;
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#instruction {
  position: absolute;
  background: rgb(193, 193, 221);
  border: rgb(30, 91, 99) 5px groove;
  width: 550px;
  height: 400px;
  padding-top: 15px;
  top: 230px;
  left: 218px;
  text-align: center;
  color: rgb(30, 91, 99);
  font-size: 15px;
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  border-radius: 10px;
}
.headerRules {
  font-weight: bold;
  font-size: 20px;
  color: rgb(30, 91, 99) ck;
}
.startButton {
  width: 100px;
  padding: 12px;
  border: 1px solid rgb(30, 91, 99);
  font-family: arial;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  background: rgb(30, 91, 99);
  box-shadow: 2px 2px 4px 2px rgba(40, 40, 40, 0.6);
}
.exitButton {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  padding: 12px;
  float: right;
  border: 1px solid rgb(30, 91, 99);
  font-family: arial;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  background: rgb(30, 91, 99);
  box-shadow: 2px 2px 4px 2px rgba(40, 40, 40, 0.6);
  justify-self: end;
}
.startButton:hover {
  background: #77aaaa;
}
.exitButton:hover {
  background: #77aaaa;
}
